
         <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
                <!--Banner Content-->
                <div id="banner-content" class="row clearfix">
                        
                        <div id="site_title"><h1><!--<a href="#">-->COVID-19<!--/a--></h1></div>
                    <div class="col-38">
        
                        <div class="section-heading">
                            <h2><i>Welcome To The CoronaVirus Campaign  </i></h2>

                            <div class="col_w200 float_l">
                                    <h4>Main Topics</h4>
                                    <ul class="tooplate_list">
                                        <li><a>What is coronavirus?</a></li>
                                        <li><a>What are the symtopms?</a></li>
                                        <li><a>How do we prevent if?</a></li>
                                    </ul>
                                </div>
                            
                        </div>
        
                        <!--Call to Action-->
                        <a  class="button">START YOUR LEARNING PATH TODAY</a>
                        <!--End Call to Action-->
        
                    </div>
        
                </div><!--End of Row-->
                <footer>
                <body style="background: #777; text-align: center;padding:1%;">
                    <p class="cp-text">
                        &copy; Copyright 2015 Mywebblog. All right reserved.
                    </p>
                </body>
                </footer>

            </header>
            