            <!--Testimonials-->
            <aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">
    
                <div class="row clearfix">
    
                    <div class="section-heading">
                        <h3>FEEDBACK</h3>
                        <h2 class="section-title">For more info please follow this:</h2>
                    </div>
    
                    <!--User Testimonial-->
                    <blockquote class="col-3 testimonial classic">
                        <img src="../assets/images/user-images/user-1.jpeg" alt="User"/>
                        <p>The World Health Organization is one of the most powerful Organization
                            one need to follow because it helps to educate about the virus and how to
                            prevent ourselves from it for more info you need to follow the number 0800 029 999
                            0r 0600 123 456 in Whatsapp send the word <q>Hi</q> to connect and start chatting
                        </p>
                        <footer>Compiled by Sheldon Morias</footer>
                    </blockquote>
                    <!-- End of Testimonial-->
    
                    <!--User Testimonial-->
                    <blockquote class="col-3 testimonial classic">
                        <img src="../assets/images/user-images/user-2.jpeg" alt="User"/>
                        <p>ENCA can be followed 24/7 as they update daily about the disease to help
                               familiarize ourselve with the matter at hand
                        </p>

                        <footer>Compiled by Roslyn Doe </footer>
                    </blockquote>
                    <!-- End of Testimonial-->
    
                    <!--User Testimonial-->
                    <blockquote class="col-3 testimonial classic">
                        <img src="../assets/images/user-images/user-3.png" alt="User"/>
                        <p>Follow the news even on twitter find as much more information as you can possible get
                            to help fight the virus or even better to be updated daily
                        </p>

                        <footer>Compiled by Thomas Doe</footer>
                    </blockquote>
                    <!-- End of Testimonial-->
    
                </div>

                <footer>
                    <body style="background: #777; text-align: center;padding:1%;">
                        <p class="cp-text">
                            &copy; Copyright 2015 Mywebblog. All right reserved.
                        </p>
                    </body>
                    </footer>
    
            </aside>
            <!--End of Testimonials-->
