    
            <!--Introduction-->
            <section id="about" class="introduction scrollto">
    
                    <div class="row clearfix">
        
                        <div class="col-3">
                            <div class="section-heading">
                                <h3>NEWS FEED</h3>
                                <h2 class="section-title">What is Corona Virus(COVID19)?</h2>
                                <p class="section-subtitle">Coronavirus disease 2019 (COVID-19) is a respiratory illness
                                        that can spread from person to person. The virus that causes
                                        COVID-19 is a novel coronavirus that was first identified during
                                        an investigation into an outbreak in Wuhan, China. COVID-19 is spreading from person to person in parts
                                        of the world. Risk of infection from the virus that causes
                                        COVID-19 is higher for people who are close contacts of
                                        someone known to have COVID-19, for example healthcare
                                        workers, or household members. Other people at higher risk for
                                        infection are those who live in or have recently been in an area
                                        with ongoing spread of COVID-19.
                                    </p>
                            </div>
        
                        </div>
        
                        <div class="col-2-3">
        
                            <!--Icon Block-->
                            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                                <!--Icon-->
                                <div class="icon">
                                    <i class="fa fa-html5 fa-2x"></i>
                                </div>
                                <!--Icon Block Description-->
                                <div class="icon-block-description">
                                    <h4>How does COVID-19 spread?</h4>
                                    <p>The virus that causes COVID-19 probably emerged from an
                                            animal source, but is now spreading from person to person.
                                            The virus is thought to spread mainly between people who
                                            are in close contact with one another (within about 6 feet)
                                            through respiratory droplets produced when an infected
                                            person coughs or sneezes. It also may be possible that a person
                                            can get COVID-19 by touching a surface or object that has
                                            the virus on it and then touching their own mouth, nose, or
                                            possibly their eyes, but this is not thought to be the main
                                            way the virus spreads.Learn what is known about the spread
                                            of newly emerged coronaviruses at <a href="url">https://www.cdc.gov/coronavirus/2019-ncov/about/transmission.html</a></p>
                                </div>
                            </div>
                            <!--End of Icon Block-->
        
                            <!--Icon Block-->
                            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                                <!--Icon-->
                                <div class="icon">
                                    <i class="fa fa-bolt fa-2x"></i>
                                </div>
                                <!--Icon Block Description-->
                                <div class="icon-block-description">
                                    <h4>What are the symptoms of COVID-19?</h4>
                                    <p>Patients with COVID-19 have had mild to severe respiratory
                                            illness with symptoms of:</p>
                                            <ul class="tooplate_list">
                                                    <li><a href="#">fever</a></li>
                                                    <li><a href="#">cough</a></li>
                                                    <li><a href="#">shortness of breath</a></li>
                                                </ul>

                                </div>
                            </div>
                            <!--End of Icon Block-->
        
                            <!--Icon Block-->
                            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                                <!--Icon-->
                                <div class="icon">
                                    <i class="fa fa-tablet fa-2x"></i>
                                </div>
                                <!--Icon Block Description-->
                                <div class="icon-block-description">
                                    <h4>People can help protect themselves from respiratory
                                            illness with everyday preventive actions. </h4>
                                            <ul class="tooplate_list">
                                                    <li><a href="#">Avoid close contact with people who are sick.</a></li>
                                                    <li><a href="#">Avoid touching your eyes, nose, and mouth with
                                                            unwashed hands. </a></li>
                                                    <li><a href="#">Wash your hands often with soap and water for at least 20
                                                            seconds. Use an alcohol-based hand sanitizer that contains at
                                                            least 60% alcohol if soap and water are not available.</a></li>
                                                </ul>
                                </div>
                            </div>
                            <!--End of Icon Block-->
        
                            <!--Icon Block-->
                            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                                <!--Icon-->
                                <div class="icon">
                                    <i class="fa fa-rocket fa-2x"></i>
                                </div>
                                <!--Icon Block Description-->
                                <div class="icon-block-description">
                                    <h4>If you are sick, to keep from spreading respiratory
                                            illness to others, you should </h4>
                                            <ul class="tooplate_list">
                                                    <li><a href="#">Stay home when you are sick.</a></li>
                                                    <li><a href="#">Cover your cough or sneeze with a tissue, then throw the
                                                        tissue in the trash.</a></li>
                                                    <li><a href="#">Clean and disinfect frequently touched objects
                                                            and surfaces.</a></li>
                                                </ul>
                                </div>
                            </div>
                            <!--End of Icon Block-->

                             <!--Icon Block-->
                             <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                                    <!--Icon-->
                                    <div class="icon">
                                        <i class="fa fa-rocket fa-2x"></i>
                                    </div>
                                    <!--Icon Block Description-->
                                    <div class="icon-block-description">
                                        <h4>Is there a vaccine? </h4>
                                        <p>There is currently no vaccine to protect against COVID-19. The
                                                best way to prevent infection is to take everyday preventive
                                                actions, like avoiding close contact with people who are sick and
                                                washing your hands often.
                                                There is no specific antiviral treatment for COVID-19.
                                                People with COVID-19 can seek medical care to help
                                                relieve symptoms. </p>
                                    </div>
                                </div>
                                <!--End of Icon Block-->
        
                        </div>
        
                    </div>
                    <footer>
                        <body style="background: #777; text-align: center;padding:1%;">
                            <p class="cp-text">
                                &copy; Copyright 2015 Mywebblog. All right reserved.
                            </p>
                        </body>
                        </footer>
        
                </section>
                <!--End of Introduction-->